{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="col-4 offset-4">
        <form class="form-signin" method="post">
            {% csrf_token %}
            <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus=""
                   name="{{ form.username.name }}">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                   name="{{ form.password.name }}" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Увійти</button>
        </form>
    </div>
{% endblock %}



