#container {
 width: 1000px; /* Ширина макета */
 margin: 0 auto; /* Выравнивание по центру */
}
#nav {
 width: 200px; /* Ширина левой колонки */
 float: left;
}
#aside {
 width: 600px; /* Ширина правой колонки */
 float: right;
}


.table td, .table th {
    padding: .40rem;!important;
    font-size: small;
}