{% extends 'base.html' %}


{% block content %}
    <div id="container">
        <div id="nav">
            <table class="table">
                <thead>
                <th scope="col">#</th>
                <th scope="col">Дані</th>
                </thead>
                <tbody>
                <tr>
                    <td>Користувач:</td>
                    <td>{{ order }}</td>
                </tr>
                <tr>
                    <td>Дата:</td>
                    <td>{{ order.data_create }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="aside">
            {% include 'includes/order_table.html'  %}
        </div>
    </div>

{% endblock %}


{#{% block script %}#}
{#    <script type="text/javascript">#}
{#        $('body').on('click', ".statusChange", function (e){#}
{#            var orderId = $(this).data('order-id');#}
{#            $.ajax({#}
{#                url: "{% url 'order_update' %}",#}
{#                method: "POST",#}
{#                data: {#}
{#                    orderId: orderId,#}
{#                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()#}
{#                },#}
{#            }).done(function (response) {#}
{#                $("#status td").remove();#}
{#                $("#status").append(response);#}
{#                $('#formStatus').remove();#}
{#            }).fail(function (jqXHR, textStatus) {#}
{#                console.log('error');#}
{#            });#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}
